$('#question').val('');
$('#a').val('');
$('#b').val('');
$('#c').val('');
$('#d').val('');
$('#submit').val('add another question');
$('#q_append').append('<li><a href="/quizzes/edit_quiz?id=<%= @quiz.id%>" data-remote="true">Ques no:</a></li>');
