       <div class="row" id="comment_<%=@comment.note_id%>">
     <div class="col-md-1">
          
            <img src="<%=current_user.teacher_image.image_url(:thumb)%>" style="width: 40px;height: 40px;border-radius: 5px" >
                  
                   </div> 
            
            <div class="col-md-10"  ><span><%=time_ago_in_words(@comment.created_at)%></span><br /><%=@comment.reply%></div>
              <div class="col-md-1 close">&times;</div>
              
          </div>
            