<div class="row panel panel-default" >
        	  <div class="col-md-2" style="margin: 0px ;padding: 0px; ">
        	  	<img class="img-responsive "  style="float:left; height: 50px; width:50px;border-radius: 5px ;margin-left: 40px"  src=""   />
        	  </div>  	
        	<div class="col-md-9 text-left" style="margin: 0px; padding: 0px">
        	  	<span class="text-left" style="word-wrap:break-word"><%=@note.notes%> 
        	 </div>  
        	<div class="col-md-1">
        	  	delete
        	  </div>  
        	
        	</div>