<% provide(:title, 'Home|'+@teacher.t_name.capitalize) %>

<div class="container" style="min-height: 500px">
   <div class="row">
   	<div class="col-md-3">
   		<div class="row">
   		<div class="panel panel-default">
   			<div class="panel-heading">
   				<div class="panel-title">
   					
   				</div>
   				<div class="panel-body">
   				        <div class="row">
   				   	          <div class="col-md-4" >
   				   	        <img class="img-responsive" style="height: 50px; width:50px%"  src="<%=@teacher_img.image_url%>"   />
   				   	             </div>
   				             <div class="col-md-8" style="margin: 0px;padding: 0px" >
   				      	        <div class="text-left text-capitalize h4" style="margin-top: 10px">
   				      		 
   				      		   <%=@teacher.t_name.capitalize%> <%= @teacher.lastname.capitalize%><br/>
   				      		 <span class="small" style="margin-left: 5px">Teacher</span>
   				      	</div>
   				      </div>
   				   </div>	
   				</div>
   			</div>
   		 </div>
   		</div>
   <div class="row">
   	<div class="col-md-12 well"></div>
   </div>
   	</div>
   	<div class="col-md-7">
   		<div class="row">
   		
   		 <div class="panel panel-default">
   			<div class="panel-heading">
   				<div class="panel-title">
   					<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#note" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil">Note</span></a></li>
  <li><a href="#assign" role="tab" data-toggle="tab"><span  class="glyphicon glyphicon-list-alt">Assignment</span></a></li>
  <li><a href="#message" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-envelope">Messages</span></a></li>
  <li><a href="#quiz" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-dashboard">Quiz</span></a></li>
</ul>

   					</div>
   				</div>
   				<div class="panel-body">
   					<div class="row">
   					
   					<div class="col-md-10 " >
   					<div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="note">
       
              <form role="form" action="/schools/school_login" method="post" >
  <div class="form-group">
    
    <div class="col-sm-12">
   <textarea name="" class="form-control" id="note_text" placeholder="enter your note here"></textarea>
   
    </div>
  </div>
  <div class="form-group">
    
    <div class="col-sm-12" style="display: none" id="a">
    <input type="text" name="user[email]" class="form-control"  placeholder="something">

   
    </div>
  </div>
     </form>      
     
         </div>
         <div class="tab-pane fade" id="assign">
       content for message
        </div>
      <div class="tab-pane fade" id="message">
       content for message
        </div>
        <div class="tab-pane fade" id="quiz">
        content for quiz
        </div>
        
   					</div>	
   				    </div>
   				</div>
   			</div>
   			</div>
   		</div>
   	
   	<div class="col-md-2">
   		
   	</div>
   	
   	
   	
   </div>	
	<script>
		$(document).ready(function(){
			$("#note_text").click(function(){
				$('#a').show();
				
			});
			
			
		});
		
		
	</script>
	
	
</div>
