<div class="container">
	
	<div class="panel panel-default">
		<div class="panel-body">
			
			<p>
			thanks for signingup ....<br />
			
			
			<strong>
			visit your Email acc for varification	
				
			</strong> 	
				
			</p>
			
			
			
		</div>
		
		
		
		
		
	</div>
	
	
	
	
	
</div>
