
  <div>
    <header>
      <h1><%u=session[:user]%></h1>
    </p>
    </nav>

    <div>
      <%if u=!nil %>
  
 <p><%=@school.SCHOOL_NAME%></p>
  <p><%=@school.email%></p>
   <p><%=@school.city%></p>
   
   <%end%>  
    </div>

    <footer>
     <p>&copy; Copyright  by mnj</p>
    </footer>
  </div>
