<% u=session[:user]%>
 
 <%if u!=nil%>
 <% src1='/schoolglobal.jpg'  
   src2='/schoolglobal.jpg'  
  src3='/schoolglobal.jpg'  
 %>
<% if  @school_image.length==0
  src1='/schoolglobal.jpg'  
   src2='/schoolglobal.jpg'  
  src3='/schoolglobal.jpg' 
  
elsif @school_image.length==1
src1=@school_image.first.image_url.to_s

elsif @school_image.length==2
src1=@school_image.first.image_url.to_s
src2=@school_image.second.image_url.to_s

elsif @school_image.length>=3
src1=@school_image.first.image_url.to_s
src2=@school_image.second.image_url.to_s
src3=@school_image.third.image_url.to_s

 %>
 <% end %>
  <% provide(:title,@school.SCHOOL_NAME) %> 
 <div class="container">
   <div class="row">
   <div class="col-md-2" style="background-color: red">Left content</div>
    <div class="col-md-8">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="<%=src1.to_s%>" alt="First slide">
          <div class="container">
            <div class="carousel-caption" style="display:none" id='c1'>
             first
              </div>
          </div>
        </div>
        <div class="item" >
          <img src="<%=src2%>" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              cc
            </div>
          </div>
        </div>
        <div class="item">
          <img src="<%=src3%>" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              nn
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control"  href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
</div>
<div class="col-md-2" style="background-color: red">Right content</div>
 </div>
<script>
	$(document).ready(function(){

$("#myCarousel").hover( function() {
    $("#c1").show();
     
     
    
});
    });
	
	
</script>
</div>


 

    
  
<%end%>
