<div class="container">
	<% if @school_image.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@school_image.errors.count, "error") %> prohibited this schooldatum from being saved:</h2>
      <ul>
      <% @school_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    
      <% end %>
      </ul>
    </div>
  <% end %>
	<%if error ||sussces%>

        <div class="error" ><ul><li><%=error%><span style="color: green"><%=sussces%></span></li>
        	
        	
        </ul>
        	
        	
        </div>

                 <%end%>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
	<form method="post" action="/school_images/school_image_upload" enctype="multipart/form-data" >
		<div class="form-group">
                    <label for="avatar">Upload image</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="avatar" name="data[image]"  autocomplete="true">
                       
                  <input type="submit" class="btn btn-default" value="upload" />
                    </div>
                </div>
			</div>
			</div>
			
		</div>
		
		
		
	</form>
	
	
</div>
